exportPattern("^[[:alpha:]]+")
importFrom("utils", "packageDescription", "packageVersion", "data")
importFrom("grDevices", "colorRamp", "colors", "dev.off", "pdf", "rgb", "tiff")
importFrom("graphics", "abline", "axis", "legend", "mtext", "par", "plot", "points", "segments", "text", "title")
importFrom("stats", "aggregate", "qnorm", "sd")
importFrom("utils", "install.packages", "installed.packages")
importFrom("foreign", "read.xport")
import("forestplot")
import("binr")
